body{font-size: 14px !important;font-family: 'Open Sans', sans-serif;}
.jumbotron{background-image: url('../images/banner.png');color:#ffffff !important;}
.display-3{font-weight: bold !important;}
.btn-group-lg>.btn, .btn-lg{border-radius: 5px !important;}
.navbar-srax{background:#ffffff;color:#eee;}
.bg-srax{background:#ffffff;color:#eee;}
.FirstFoot{width: 100%;background: #2f3452;max-width: 100% !important;}
.pt-30{padding-top: 30px;}
.pb-30{padding-bottom: 30px;}
.container-fluid{margin-bottom: 10vh;}
.BordeRight{border: 5px solid red;border-top: none;border-bottom: none;border-right: none;padding-left: 10px;margin-left: 15px;}
.margleft{margin-left: 15px} 
.carousel-control-prev{border: 2px solid #000000 !important;color: #000000 !important;width: 50px !important;top: 50% !important;bottom: 40% !important;border-radius: 50px !important;}
.carousel-control-next{border: 2px solid #000000 !important;color: #000000 !important;width: 50px !important;top: 50% !important;bottom: 40% !important;border-radius: 50px !important;}
.btn-group-lg>.btn, .btn-lg{font-size: 13px !important;}
ul > li > a{color:#858585 !important;font-weight: bold;}
ul > li > a:hover{color:red !important;font-weight: bold;border:  3px solid red;border-top: none;border-right: none;border-left: none;}
footer{text-align: center;background-color: #282d4a;color:#ffffff;padding-bottom: 10px;}
footer p{margin-top: 10px;}
@media (min-width: 576px){.jumbotron {padding: 7rem 2rem !important;}}
@media only screen and (max-width: 600px) {.jumbotron{padding: 4rem 1rem !important;}}
@media (min-width: 768px) {
/* show 4 items */
.carousel-inner .active,.carousel-inner .active + .carousel-item,.carousel-inner .active + .carousel-item + .carousel-item,.carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {display: block;}
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {transition: none;}
.carousel-inner .carousel-item-next,.carousel-inner .carousel-item-prev {position: relative;transform: translate3d(0, 0, 0);}
.carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {position: absolute;top: 0;right: -25%;z-index: -1;display: block;visibility: visible;}
/* left or forward direction */
.active.carousel-item-left + .carousel-item-next.carousel-item-left,.carousel-item-next.carousel-item-left + .carousel-item,.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {position: relative;transform: translate3d(-100%, 0, 0);visibility: visible;}
/* farthest right hidden item must be absolue position for animations */
.carousel-inner .carousel-item-prev.carousel-item-right {position: absolute;top: 0;left: 0;z-index: -1;display: block;visibility: visible;}
/* right or prev direction */.active.carousel-item-right + .carousel-item-prev.carousel-item-right,.carousel-item-prev.carousel-item-right + .carousel-item,.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {position: relative;transform: translate3d(100%, 0, 0);visibility: visible;display: block;visibility: visible;}}